services:
  db:
    image: postgres:18
    container_name: water-quality-api-db
    volumes:
      - db-data:/var/lib/postgresql
    environment:
      POSTGRES_DB: testdb
      POSTGRES_USER: testuser
      POSTGRES_PASSWORD: testpass
    ports:
      - "5432:5432"

  web:
    build: .
    container_name: water-quality-api
    env_file:
      - .env
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql://testuser:testpass@db:5432/testdb
    ports:
      - "8000:8000"
  
  mosquitto:
    image: eclipse-mosquitto:2
    container_name: water-quality-api-mosquitto
    volumes:
    - ./mosquitto/config:/mosquitto/config
    - ./mosquitto/data:/mosquitto/data
    - ./mosquitto/log:/mosquitto/log
    ports:
      - "1883:1883"
      - "9001:9001"

volumes:
  db-data:
  mosquitto-config:
  mosquitto-data:
  mosquitto-log: