services:
  db:
    image: postgres:18
    container_name: water-quality-api-db
    volumes:
      - db-data:/var/lib/postgresql
    environment:
      POSTGRES_DB: testdb
      POSTGRES_USER: testuser
      POSTGRES_PASSWORD: testpass
    ports:
      - "5432:5432"

  web:
    build: .
    container_name: water-quality-api
    depends_on:
      - db
    ports:
      - "8000:8000"

volumes:
  db-data: